.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-background {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

.Acc-logo{
  width: 10%;
  border: 2px solid #1c8442;
  border-radius: 35%;
  padding: 3px;
  margin-top: 1%;
  margin-bottom: 2%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .Acc-logo{
    width: 25%;
  }

  .main_paragraph{
    width: 100%;
    margin: none;
  }
}

@media (min-width: 801px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .main_paragraph{
    width: 70%;
    margin: auto;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  color: rgb(14, 146, 241);
  margin-top: 5%;
}

.btn_header{
  font-size: 1.1em;
  background-color: transparent;
  color: whitesmoke;
  border-block: none;
  border-inline: none;
}

